.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    overflow-x: auto
}

.wrapper.hide2 {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: fixed
}

#menu-button.open #nav-button span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#menu-button.open #nav-button span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#menu-button.open #nav-button span:nth-child(3) {
    display: none
}

#ajax-content {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .92);
    position: fixed;
    opacity: 0;
    z-index: 9999;
    filter: alpha(opacity=0);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    visibility: hidden
}

#ajax-content.visible {
    height: 100%;
    z-index: 9999;
    opacity: 1;
    filter: alpha(opacity=1);
    visibility: visible;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#ajax-content .ajax-sidebar {
    width: 0;
    background: #fff;
    height: 100%;
    float: right;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 999
}

#ajax-content.visible .ajax-sidebar {
    float: right;
    width: 380px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}

.ajax-sidebar #project-title {
    padding: 55px;
    width: 380px;
    height: 100%
}

#ajax-content .ajax-slider {
    opacity: 0;
    float: left;
    width: auto;
    height: 100%
}

#ajax-content.visible .ajax-slider {
    width: auto;
    float: left;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s
}

#ajax-content.visible .ajax-slider figure.images {
    max-height: 100vh;
    text-align: center
}

#ajax-content.visible .ajax-slider figure.images img {
    display: inline-block;
    width: auto;
    max-height: 90vh;
    padding: 0 5%
}

.ajax-close {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 999999;
    background: url(../images/icons/bg-close@2x.png) center no-repeat #fff;
    background-size: 36px 36px;
    opacity: 0
}

.ajax-close.test {
    opacity: 1
}

.ajax-prev {
    background: url(../images/icons/bg-prev@2x.png) center no-repeat #fff;
    background-size: 48px 48px;
    display: block;
    position: absolute;
    width: 54px;
    height: 74px;
    top: 50%;
    margin-top: -34px;
    left: 25px
}

.ajax-next {
    background: url(../images/icons/bg-next@2x.png) center no-repeat #fff;
    background-size: 48px 48px;
    display: block;
    position: absolute;
    width: 54px;
    height: 74px;
    top: 50%;
    margin-top: -34px;
    right: 25px
}

#project-slider {
    position: relative
}

.ajax-more {
    display: none
}

@media only screen and (max-width:768px) {
    .ajax-more {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 50px;
        background: #fff;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
        z-index: 99999
    }
    #ajax-content.visible .ajax-sidebar {
        position: absolute;
        width: 0;
        right: 0
    }
    #ajax-content.visible .ajax-sidebar.collapsed {
        width: 100%
    }
    #ajax-content.visible .ajax-slider {
        width: 100%;
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0.0s ease-in-out;
        -o-transition: all 0.0s ease-in-out;
        transition: all 0.0s ease-in-out
    }
    .ajax-sidebar #project-title {
        padding: 40px;
        margin: 0 auto;
        margin-top: 30px;
        width: 300px;
        text-align: center
    }
    .bottom {
        position: relative;
        padding-top: 20px;
        bottom: auto
    }
    #project-title h3 {
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -.5px
    }
    .ajax-more {
        font-size: 12px
    }
    .ajax-prev,
    .ajax-next {
        display: none!important
    }
    #project-title .child {
        vertical-align: top
    }
}

.social_media a {
    margin-left: 15px
}

.social_media a:first-child{
    margin-left: 0px
}

a.language{
    margin: 0 4% 0;
}

.social_media img {
    width: 50px;
    height: 50px
}

.social_media a {
    font-size: 45px
}

.social_media i,
.social_media a {
    color: #092b67;
}

.social_media .language{
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        float: right;
}

.header span {
    font-size: 25px;
    vertical-align: super;
    text-decoration: none;
}

.header span.er {
    font-size: inherit;
    text-decoration: underline;
    vertical-align: baseline;
    color: red;
}
.header span.red {
    color: red;
}

.video-container{
	height: 380px;
    overflow: hidden;
}

.banner video {
	position: absolute;
    object-fit: cover;
    margin-top: -60px;
}

.head img {
    margin-bottom: 15px;
}
.banner p {
    color: #fff;
    font-size: 33px;
    z-index: 250;
    font-weight: bold;
}

.banner .first{
    left: 50%;
    padding: 5% 5% 0;
    z-index: 100000;
    float: right;
    width: 100%;
}

.banner .third{
    left: 14%;
    padding: 2% 5% 0;
    z-index: 100000;
    float: right;
    width: 78%;
}

.banner .second{
    left: 0;
    text-align: left;
    padding-left: 6%;
    width: 68%;
}

/*BOOK STYLING CSS*/

.lft_page .nav-tabs-left{
    float: left;
    position: absolute;
}

.lft_page .nav-tabs-left .qualify_tab{
    top: 19px;
    left: -66px;
    width: 82px;
}

.lft_page .nav-tabs-left .enroll_tab{
    top: 100px;
    left: -66px;
    width: 82px;
}

.lft_page .nav-tabs-left .prepare_tab{
    top: 180px;
    left: -66px;
    width: 82px;
}

.lft_page .nav-tabs-left .schedule_tab{
    top: 260px;
    left: -66px;
    width: 82px;
}

.lft_page .nav-tabs-left .exam_tab{
    top: 340px;
    left: -66px;
    width: 82px;
}

.lft_page .nav-tabs-left .pass_tab{
    top: 420px;
    left: -66px;
    width: 82px;
}

#book_tabs>div>.nav-tabs-left {
  float: left;
  border-bottom: 0;
  margin-left: -65px;
  margin-top: 20px;
}

#book_tabs>div>.nav-tabs-right {
    z-index: 9999; 
  float: right;
  border-bottom: 0;
  margin-right: -65px;
  margin-top: 20px;
}

.hiding {
    visibility: hidden !important;
}

.showing {
    visibility: visible !important;
}

#book_tabs .nav-tabs-right {
  float: right;
  border-bottom: 0;
}

#book_tabs .nav-tabs li {
  float: none;
  margin: 0;
}
#book_tabs .nav-tabs li a {
  margin-right: 0;
  border: 0;
  background-color: #333;
}
#book_tabs .nav-tabs li a:hover {
  background-color: #444;
}
#book_tabs .nav-tabs .glyphicon {
  color: #fff;
}

#book_tabs .nav-tabs > li.active > a, #book_tabs .nav-tabs > li.active > a:hover, #book_tabs .nav-tabs > li.active > a:focus {
  border: 0;
}

#book_tabs .tab-content{
    position: absolute;
    top: -22px;
    left: 15px;
    width: 100%;
}

#book_tabs .tab-content .tab-pane {
  display: none;
  /*padding: 1.6rem;*/
  overflow-y: auto;
}
#book_tabs .tab-content .active {
  display: block;
}

#book_tabs .list-group {
  width: 100%;
}
#book_tabs .list-group .list-group-item {
  height: 50px;
}
#book_tabs .list-group .list-group-item h4, #book_tabs .list-group .list-group-item span {
  line-height: 11px;
}

#book_tabs .nav-tabs-left li:nth-child(-n+4){
    transform: rotate(-90deg);
    margin-bottom: 17px;
}

#book_tabs .nav-tabs-left li:nth-child(n+5){
    transform: rotate(-90deg);
    margin-bottom: 17px;
}

#book_tabs .nav-tabs-right li:nth-child(-n+4){
    transform: rotate(90deg);
    margin-bottom: 17px;
}

#book_tabs .nav-tabs-right li:nth-child(n+5){
    transform: rotate(90deg);
    margin-bottom: 17px;
}

#book_tabs .nav>li>a{
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    padding: 10px 0;
}

/*#book_tabs .nav>li.active>a{
	background-color: black;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -ms-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -o-box-shadow:0 0 15px rgba(0,0,0,0.8);
    box-shadow:0 0 15px rgba(0,0,0,0.8);
}*/

#book_tabs>div>.nav-tabs-left i{
    font-size: 20px;
    color: white;
    width: 100%;
}

#book_tabs>div>.nav-tabs-right i{
    font-size: 20px;
    color: white;
    width: 100%;
}

.lft_page .nav-tabs-left i{
    font-size: 20px;
    color: white;
    width: 100%;
}

/*.right_tab{
	position: absolute !important;
    right: -12%;
    width: 10%;
}*/

.flipbook2 th, .flipbook2 td, .flipbook5 th, .flipbook5 td{
     font-size: 12px !important;
 }

.flipbook th, .flipbook td{
     font-size: 11px !important;
 }

#book_tabs .qualify_tab a{
    background-color: #78B582;
}

#book_tabs .enroll_tab a{
    background-color: #B578AA;
}

#book_tabs .prepare_tab a{
    background-color: #404A60;
}

#book_tabs .schedule_tab a{
    background-color: #406045;
}

#book_tabs .exam_tab a{
    background-color: #B53C46;
}

#book_tabs .pass_tab a{
    background-color: #00B5A5;
}

/*.exam_tab{
	bottom:25%;
}

.pass_tab{
	bottom: 6%;
}*/

.orange img, .yellow img, .green img, .blue img{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.orange:hover img, .yellow:hover img, .green:hover img, .blue:hover img{
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /*filter: opacity(25%);*/
}
.arrow_content{
    background: #eaeaea;
    padding: 10px 15px !important;
    min-height: 210px;
}
.arrow_content ul li{
    color: #092b67;
    list-style: none;
    margin-bottom: 10px;
}
.arrow_content ul li i{
    color: #092b67;
}
.business{
    margin-top: 20px;
}
.business .col-sm-12 .col-xs-3:first-child,
.business .col-sm-12 .col-xs-3:last-child{
    padding: 0 !important;
}
.business .green p, .business .orange p, .business .yellow p, .business .blue p{
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 18px;
    width: 100%;
}
.business .orange p{
    top: 72%;
    left: 27%;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.business .green p{
    top: 31%;
    left: 10%;
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
    -o-transform: rotate(-405deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.business .blue p{
    top: 42%;
    left: 0%;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.business .yellow p{
    top: 58%;
    left: 14%;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.right-align{
    float: left;
    width: 30%;
}



/* book */

.flipbook-viewport{
    width:100%;
    height:100%;
}

.flipbook-viewport .container{
    position:absolute;
    top:50%;
    left:50%;
    margin:auto;
}

.flipbook-viewport .page{
    width:461px;
    height:600px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.flipbook-viewport .page-wrapper, .flipbook-viewport .page-wrapper>div{
    /*overflow: visible !important;*/
}

.flipbook-viewport p{
    font:400 15px 'Merienda One', Helvetica, sans-serif;
    line-height: 1.7;
    text-transform: none;
}

/*.flipbook .page, .flipbook2 .page, .flipbook3 .page, .flipbook4 .page, .flipbook5 .page, .flipbook6 .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
}

.flipbook-viewport .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}*/


.text-white{
    color: white;
}

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    z-index:9999999999999;
}

.YouTubePopUp-animation{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
    top:32px;
    z-index:99998;
}

.YouTubePopUp-Content{
    max-width:680px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
}

.YouTubePopUp-Content iframe{
    max-width:100% !important;
    width:100% !important;
    display:block !important;
    height:480px !important;
    border:none !important;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(../images/close.png) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}



#news_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}

#myWizard {
    width: 700px;
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    min-height: 265px;
}

.easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}
.easyWizardSteps section {min-height: 400px;}

.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}
.easyWizardButtons .next {display: none !important;}

#myWizard3Pager {margin-top:-10px}


@media all and (max-width: 768px) and (min-width: 10px){
    .YouTubePopUp-Content{
        max-width:90%;
    }
    #myWizard {width:500px;border:1px solid #ccc}
}

@media all and (max-width: 600px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:320px !important;
    }

    .YouTubePopUp-Close{
        bottom:362px;
    }
    #myWizard {width:500px;border:1px solid #ccc}

}

@media all and (max-width: 480px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:220px !important;
    }

    .YouTubePopUp-Close{
        bottom:262px;
    }

    #myWizard {width:300px;border:1px solid #ccc}

}


/*Photo Gallery Home*/
/* Useful Classes */
.xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    transition: all 350ms ease-in-out;
}

.r-3-2 {
    width: 100%;
    padding-bottom: 66.667%;
    background-color: #ddd;
}

.image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Main Styles */
.gallery-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.item-wrapper {
    cursor: pointer;
    width: 23%; /* arbitrary value */
    display: inline-block;
    background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
    font-size: 0;
    border-top: none;
}
.move-btn {
    display: inline-block;
    width: 50%;
    border: none;
  color: #ccc;
    background-color: transparent;
    padding: 0.2em 1.5em;
}
.move-btn:first-child {border-right: none;}
.move-btn.left  { cursor: w-resize; }
.move-btn.right { cursor: e-resize; }



#videoPlayBtn{
    outline: 0;
    color: #fff;
    box-shadow: 1px 2px 10px #000;
    background-color: rgba(0,0,0,.6);
    border-color: #fff;
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 40px;
    line-height: 1.33;
    border-radius: 100%!important;
    position: absolute;
    top: 40%;
    left: 40%;
}

#videoPlayBtn:hover {
    background-color: #092b67;
    border: 0;
    box-shadow: 1px 2px 22px #000;
}

.text-center{
    text-align: center;
}

.lft_page{
    background-image:url(../images/lft_bk.png);
}

.rt_page{
    background-image:url(../images/rt_bk.png);
}
.btn-success{
    margin: 0 15px;
}