@charset "utf-8";

@media only screen and (min-width: 992px) {
.container {
	width: 1024px;
}
}


@media only screen and (min-width: 1450px) {
	.container{
		width: 1200px;
	}
}

@media only screen and (min-width: 1600px) {
	.container {
		width: 1240px;
	}
	#style-1{
	    left: 5%;
	}
	#book_tabs>div>.nav-tabs-right
	{
		margin-right: 60px;
	}

	#book_tabs{
		margin-left: 100px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	#content {
		position: absolute;
		padding-left: 0px;
		/*z-index: 102;*/
	}
	header {
		position: absolute;
		min-height: 100%;
		height: auto;
		padding-top: 53px;
		z-index: 0;
	}
	#background-color {
		background: #fff;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 101;
		-webkit-overflow-scrolling: touch;
		top: 0;
		left: 0;
		display: block
	}
	#bottom-header {
		position: relative;
		bottom: auto;
		width: 100%;
		text-align: center;
	}
	#menu-button {
		display: block;
	}
	#fixed-barrier {
		display: none;
	}
	.pushed-left #fixed-barrier {
		left: 0px;
		top: -200px;
		display: block;
		height: calc(100% + 200px);
	}
	h1#logo {
		background: #fff;
		width: 100%;
		position: relative;
		top: auto;
		padding: 25px 0;
	}
	.pushed-left h1#logo {
		border-left: 1px solid #d8d8d8;
	}
	.wrapper {
		overflow-x: hidden !important;
	}
	.border-bottom-on-header #logo {
		border-bottom: 1px solid #d8d8d8;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
.client {
	width: 33.33333%;
}
.flipbook-viewport {
	    overflow:auto;
	}

	.right-align {
	    width: 50%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
.containing-image-wrapper {
	position: relative;
	height: 370px;
}
.flex-direction-nav .flex-next {
	right: -15px !important;
}
.flex-direction-nav .flex-prev {
	left: -15px !important;
}
.extra-padding-left {
	padding-left: 15px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
h2 {
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -1px;
}
.info-box-content .parent {
	padding: 30px;
}
.containing-image-wrapper {
	position: relative;
	height: 270px;
}
.centered-on-xs {
	text-align: center;
}
.col-lg-12 .client {
	width: 50%;
}
.teaser-content {
	padding: 25px 15px;
}
.comment {
	padding: 30px 0 25px
}
.commenter-avatar {
	padding: 0;
	margin: 0 auto;
	width: 150px;
	display: inline-block;
	float: none
}
.comment-content {
	padding-top: 20px;
	display: block;
	width: 100%;
	max-width: 100%;
}
.comment.reply.level-1 {
	padding-left: 0
}
.comment-form-wrapper {
	padding-top: 29px;
}
.comment-form-icon-wrapper {
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}
.comment-form-icon-wrapper:before {
	display: inline-block;
}
.comment-form {
	padding: 0;
}
input, textarea {
	width: 100% !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border: 0;
}
.height-500 {
	height: 450px;
}
	.banner .first {
	    left: 29%;
	}	
}


/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
@media {
 .button {
padding:11px 25px 0px;
}
}
}


@media all and (max-width: 720px){
	#book_tabs>div>.nav-tabs-right, #book_tabs>div>.nav-tabs-left{
		display: none;
	}

    .logo_pic1, .logo_pic2, .logo_pic3, .logo_pic4 {
        width: 100px;
    }
	.footer{
		width: 100%;
		left: 0;
		right: 0;
	}
	.courses_tabs li{
		width: 100%;
	}

    .h3_name{
    	font-size: 22px;
    	width: 100px;
    	font-size: 22px;
    }

    .name_container{
    	height: 130px;
    	width: 100px;
    }

    h1#logo a {
	    width: 50px;
	    float: right;
	    margin-right: 10px;
	}
	.right-align {
	    width: 60% !important;
	}

	.banner p{
		font-size: 20px;
	}
	.social_media a {
	    font-size: 25px;
	    margin-left: 10px;
	}
	.social_media {
	    text-align: left;
	}
	.news span{
		width:25%
	}

	.row.mt-150{
		margin-top: 50px !important;
	}

	.ps_container{
		margin-top: 80px;
	}
	.cpa_page .times .col-sm-6:last-child{
		background-size: 100% 100%; 
	}
	.ch-grid{
		background-image: none;
	}
	.ch-grid li {
	    width: 100% !important;
	    height: 100%;
		background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(47,105,167,1) 18%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(47,105,167,1) 18%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(47,105,167,1) 18%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
	}

	.ch-grid{
		height: 700px !important;
	}
	.ch-info i {
		font-size: 40px;
	}
	.ch-info h3{
		font-size: 18px;
	}
	.ch-info p{
		font-size: 17px !important;
	}

	.flipbook-viewport {
	    overflow:auto;
	    /*width: 240%;*/
	}

	.right_tab {
	    right: -27%;
	    width: 23%;
	}	

	.toomuch{
		font-size: 18px;
	}

	.courses_tabs li{
		margin-top: 10px;
	}

	.for_desk{
		height: 350px;
	}
	
	.fixing div{
		height: auto;
		position: relative;
		margin-top: -91%;
		min-height: 300px;
	}

	.information div p:first-child{
		text-align: center;
	}
	#style-1{
		opacity: 0;
	}
	.information .fixing img , .information.fixing img {
		height: 300px;
	}
	.information .fixing div, .information.fixing div {
		margin-top: -91%;
		height: 300px;
	}
    .tab-content h4 {
        font-size: 18px;
    }
	.top h2{
		font: 300 18px/50px Helvetica, Verdana, sans-serif;
	}
	.fund_head img {
		margin-left: -33%;
		margin-bottom: 20px;
	}
	.top-left-contact {
		padding: 15px 0;
	}
	.top-left-contact-left {
		 border-right: 0;
	}
	.business .green p, .business .orange p, .business .yellow p, .business .blue p{
		font-size: 25px;
	}
	.business img{
		width:100%;
	}
	.table td {
		white-space: normal !important;
	}
	.experts .details{
		min-height: auto;
	}
}

@media only screen and (max-width: 500px){
    .cpa .content p:first-child {
        font-size: 30px;
    }
    .cpa .content p {
        font-size: 15px;
    }
    .cpa.col-sm-12{
        padding: 0;
    }
    .fund_head img {
        margin-left: -46%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 790px){
	.ch-grid li {
		width: calc(100% / 3);
	}
}