body, h1, h2, h3, h4, h5, h6{
    font-family: 'Changa', sans-serif !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: right;
}
html *{
    direction: rtl;
}

header, h1#logo{
    right: 0;
    left: auto;
}

#content{
    padding-right: 260px;
    padding-left: 0;
}

#main-nav li a{
    padding-left: 0 !important;
    padding-right: 15px !important;
    text-align: right;
}
#main-nav li a.sub-nav-toggle::before{
    left: 10px;
    right: auto;
}
.right-align {
    float: right;
}
a.language {
    margin: 0 4% 0 0;
    float: left !important;
}
.header_normal_cover{
    padding: 0 25px 0 0;
}

.ers_sec img {
    min-height: 310px;
}
.small_arrow li {
    background-position: right;
}
.top-left-contact-left {
    border-left: 2px solid #092b67;
    border-right: none;
}
.keeping i{
    left: 10px;
    right: auto !important;
}
.bookkeeping .info i{
    left: -45px;
    right: auto;
}
.experts .col-sm-8 i{
    right: auto;
    left: 10px;
}

.business .orange p , .business .blue p, .business .yellow p, .business .green p{
    left: auto;
}
.business .orange p {
    right: 27%;
    top: 12%;
}
.business .blue p {
    right: 11%;
    top: 56%;
}
.business .yellow p {
    right: 14%;
    top: 23%;
}
.business .green p {
    right: 10%;
    top: 55%;
}
.tab-content h4{
    font-size: 21px;
}

.banner .first, .banner .third{
    text-align: left !important;
}

.ch-grid li{
    display: inline-table !important;
}

.arrows_header{
    transform: scaleX(-1);
    margin-top: -140px;
    margin-left: -17px;
}

.business .col-xs-3{
    float: left !important;
}

.divider{
    float: right;
}

.cpa_content label{
    padding: 0 1em 0 0;
}
.cpa_content label::after{
    left: 0;
    right: auto;
}

.rt_page{
    background-image:url(../images/lft_bk.png);
}

.lft_page{
    background-image:url(../images/rt_bk.png);
}

.ml-10 {
    margin-right: 10px !important;
}

.ml-20 {
    margin-right: 20px !important;
}

.ml-30 {
    margin-right: 30px !important;
}

.ml-40 {
    margin-right: 40px !important;
}

.ml-50 {
    margin-right: 50px !important;
}

.ml-60 {
    margin-right: 60px !important;
}

.ml-70 {
    margin-right: 70px !important;
}

.mr-10 {
    margin-left: 10px !important;
}

.mr-20 {
    margin-left: 20px !important;
}

.mr-30 {
    margin-left: 30px !important;
}

.mr-40 {
    margin-left: 40px !important;
}

.mr-50 {
    margin-left: 50px !important;
}

.mr-60 {
    margin-left: 60px !important;
}

.mr-70 {
    margin-left: 70px !important;
}

.flipbook-viewport div{
    direction: ltr !important;
}
.funds .col-sm-3{
    min-height: 201px;
}
.funds label::after{
    right: auto;
    left: 0;
}
.funds label {
    padding: 0 1em 0 0;
}
.newsticker{
    border-right: 2px solid white;
    border-left: 0;
}
.news span{
    float: right;
}
.newsticker li{
    text-align: right;
}
.news .col-md-3{
    padding-right:0 !important;
}
.news .col-md-3 img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#news-carousel .carousel-indicators {
    right: 20%;
}
.h3_name {
    direction: ltr;
}
.carousel-control.right {
    right: -10% !important;
}
.carousel-control.left {
    left: -10% !important;
}
.page-wrapper h3{
    font-size: 40px !important;
}

#book_tabs>div>.nav-tabs-left {
    z-index: 9999;
    float: right;
    border-bottom: 0;
    margin-right: -65px;
    margin-top: 15px;
}

#book_tabs>div>.nav-tabs-right {
    z-index: 9999; 
  float: left;
  border-bottom: 0;
  margin-left: -65px;
  margin-top: 15px;
}

.lft_page .nav-tabs-left{
    float: right;
    position: absolute;
    right: 0px;
}

.lft_page .nav-tabs-left .qualify_tab{
    top: 14px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left .enroll_tab{
    top: 98px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left .prepare_tab{
    top: 182px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left .schedule_tab{
    top: 265px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left .exam_tab{
    top: 347px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left .pass_tab{
    top: 431px;
    right: -56px;
    width: 82px;
}

.lft_page .nav-tabs-left li, .lft_page .nav-tabs-left li a{
    font-size: 8px !important;
}

#book_tabs .nav-tabs-left li:nth-child(-n+4){
    transform: rotate(90deg);
    margin-bottom: 32px;
    font-size: 8px;
    max-width: 82px;
}

#book_tabs .nav-tabs-left li:nth-child(n+5){
    transform: rotate(90deg);
    margin-bottom: 32px;
    font-size: 8px;
    max-width: 82px;
}

#book_tabs .nav-tabs-right li:nth-child(-n+4){
    transform: rotate(-90deg);
    margin-bottom: 32px;
    font-size: 8px;
    max-width: 82px;
}

#book_tabs .nav-tabs-right li:nth-child(n+5){
    transform: rotate(-90deg);
    margin-bottom: 32px;
    font-size: 8px;
    max-width: 82px;
}

.fund_head img{
    margin-right: -20%;
    transform: scaleX(-1);
}

@media all and (max-width: 768px) and (min-width: 10px){
    #content{
        padding-right: 0px;
    }

    header, h1#logo{
        left: 0 !important;
        right: auto;
    }
}
i.fa{
    margin-left: 5px;
}
.right-align {
    width: 35%;
}
.ch-grid{
    height: 490px;
}

p.paginate{
    left: 60px;
}
.language{
    margin-left: 0;
}
.footer{
    left: auto;
    right: 260px;
}
p.paginate {
    right: 60px;
    left: auto;
}
.fixing{
    padding: 0;
}
.pricingtable {
    padding: 0;
}
.fund_head h4{
    float: right !important;
}
.fund_head img{
    float: right !important;
}