body, h1, h2, h3, h4, h5, h6{
    font-family: 'Changa', sans-serif !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    text-align: right;
}
html *{
    direction: rtl;
}

header, h1#logo{
    right: 0;
    left: auto;
}

#content{
    padding-right: 260px;
    padding-left: 0;
}

#main-nav li a{
    padding-left: 0 !important;
    padding-right: 15px !important;
    text-align: right;
}
#main-nav li a.sub-nav-toggle::before{
    left: 10px;
    right: auto;
}
.right-align {
    float: right;
}
a.language {
    margin: 0 4% 0;
    float: left;
}
.header_normal_cover{
    padding: 0 25px 0 0;
}

.ers_sec img {
    min-height: 310px;
}
.small_arrow li {
    background-position: right;
}
.top-left-contact-left {
    border-left: 2px solid #092b67;
    border-right: none;
}
.keeping i{
    left: 10px;
    right: auto !important;
}
.bookkeeping .info i{
    left: -45px;
    right: auto;
}
.experts .col-sm-8 i{
    right: auto;
    left: 10px;
}

.business .orange p , .business .blue p, .business .yellow p, .business .green p{
    left: auto;
}
.business .orange p {
    right: 27%;
    top: 12%;
}
.business .blue p {
    right: 0%;
}
.business .yellow p {
    right: 14%;
    top: 23%;
}
.business .green p {
    right: 10%;
    top: 55%;
}
.tab-content h4{
    font-size: 21px;
}

.banner .first, .banner .third{
    text-align: left !important;
}

.ch-grid li{
    display: inline-table !important;
}

.arrows_header{
    transform: scaleX(-1);
    margin-top: -140px;
    margin-left: -17px;
}

.business .col-xs-3{
    float: left !important;
}